#wrapper {
    margin: auto;
    padding: 10px;
    max-width: 1300px;
}

body {
    height: 100%;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0 2rem;
        li {
            margin-right: 10px;
            display: flex;
            border-radius: 5px;
            a {
                padding: 0.5rem 0.75rem;
                text-decoration: none;
                color: black;
                &:visited {
                    color: unset;
                }
            }

            &:hover {
                background-color: darkorange;
                color: white;
                transition: 0.2s linear;
            }
        }
        .order-now {
            margin-left: auto;
            background-color: orange;
            border-radius: 5px;
        }
    }
}

.hero {
    img {
        width: 100%;
    }
}

.row {
    display: flex;
}

.halal {
    margin: 50px 0;
    .row {
        justify-content: space-between;
        margin: 0 10vw;
    }
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            font-size: 46px;
        }
        p {
            font-size: 24px;
        }
        img {
            width: 600px;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}

.top-items {
    margin: 15px 0 55px;
    .top-items-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        .title {
            font-size: 44px;
            font-weight: 700;
            margin-bottom: 5px;
        }
        .tagline {
            font-size: 25px;
            color: #555;
            margin-bottom: 15px;
        }

        button {
            padding: 0.5rem 1.5rem;
            background-color: darkorange;
            border-radius: 10px;
            border: none;
            span {
                color: white;
                font-size: 20px;
                font-weight: 500;
            }
        }

    }
    .top-items-body {
        .item-list {
            display: flex;
            justify-content: space-evenly;
            .item {
                background-image: url("../img/chicken-bowl.jpg");
                width: 300px;
                border-radius: 25px;
                overflow: hidden;
                color: white;
                .bg-blur {
                    height: 100%;
                    backdrop-filter: blur(32px) brightness(0.7);
                    padding: 10px;
                }
                img {
                    border-radius: 15px;
                    width: 100%;
                    object-fit: cover;
                    height: 300px;
                }
                .name {
                    font-size: 18px;
                    font-weight: 500;
                    padding: 10px 5px;
                }
                .description {
                    color: #eee;
                    font-size: 14px;
                    padding: 0 5px 10px;
                }

            }
        }
    }
}

.top-views {
    margin: 15px 0 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top-views-title {
        margin-bottom: 5px;
        font-size: 44px;
        font-weight: 700;
    }
    .top-views-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        max-width: 1200px;
        margin: 2rem auto;
        padding: 0 1rem;

        gap: 20px;
        .top-views-grid-item {
            height: 300px;
            overflow: hidden;
            border-radius: 25px;
            box-shadow: 2px;
            img[alt="exotic"] {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.contact-us {
    margin: 15px 0 50px;
    .row {
        margin: 0 50px;
        background-color: #EEE;
        border-radius: 25px;
        overflow: hidden;
    }
    .col {
        // margin: 0 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .map {
        iframe {
            // border-radius: 25px;
            width: 100%;
        }
    }
    
    .contact-body {
        padding: 30px 45px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .contact-item {
            margin-bottom: 25px;
        }
        .title {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 10px;
        }
        .timings {

            .day {
                display: flex;
                flex-grow: 1;
                justify-content: space-between;
                margin-bottom: 10px;
            }
        }
    }
}